body{
    background-color: #8789C0;
}

strong{
    color: #45F0DF;
}

i{
    color: #C2CAE8;
}

.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-bottom: 4%;
}

.img{
    width: 300px;
    float: left;
    padding: 1%;
    background-color: green;
    margin-right: 2%;
}

.desc{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 230px;
    
}

.texts{
    padding: 2%;
}

.item1 {
    font-size: 30px;
}

.item2 {
    font-size: 28px;
}

.item3 {
    font-size: 26px;
}

.item4 {
    font-size: 24px;
}

.item5 {
    font-size: 22px;
}

.item6 {
    font-size: 20px;
}

.item7 {
    font-size: 18px;
}

.item8 {
    font-size: 16px;
}

